
.CustomerHome li{
	margin-left: 30%;
	  padding: 5px;
	  text-align: left;
	  font-size: larger;
	  font-weight: lighter;
	  text-indent: 10px;
	  line-height: 1.8;
  }
  .CustomerHome input{
	  width: 100px;
	  border-bottom: 2px solid blue;
  }
  .CustomerHome select, option{
	  width: 250px;
	  font-size: large;
  }