.adminServices * {
	margin-left: auto;
	margin-right: auto;
	font-weight: lighter;
}
.adminServices h5{
	gap: 250px;
	display: flex;
}
.adminServices li{
	padding: 5px;
	text-align: left;
	font-size: xx-large;
	text-indent: 20px; 
	line-height: 2.5;
}
.adminServices input{
	/* width: auto; */
	width: 50px;
	border-bottom: 2px solid blue;
}
