
.addCompany form{
    width: 250px;
    width: 250px;
    text-align: left;
    margin: auto;
    font-style: italic;
}
.addCompany input, .addCompany button, label{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: large;
}
.addCompany h4{
    text-align: center;
    margin: 0;
}
.addCompany span{
    position: absolute;
    margin-left:30px;
    color: sienna;
}