.editCompany {
	
}
.editCompany input, .addCompany button{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.editCompany h2{
    text-align: center;
}
.editCompany span{
    position: absolute;
    margin-left:30px;
    color: sienna;
}